body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    box-sizing: border-box;
}

.wrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.input-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    display: block;
    /* width: 70%; */
    /* justify-content: center; */
    text-align: center;
}

.sub  {
    /* margin-left: 15%; */
    padding: 7px;
    font-size: 1.1rem;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    background-color: #719ECE;
    color: white;
    transition: 200ms ease-in;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 130px;
}

.sub:hover {
    background-color: #719eceb1;
    box-shadow: 0px 15px 20px rgba(70, 70, 70, 0.4);
  
  transform: translateY(-7px);
}

.type{
    margin-left: 3%;
    margin-right: 3%;
    height: 30px;
    width: 250px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 8px 15px -2px rgba(0, 0, 0, .2);
    font-size: large;
    font-family: "Montserrat";
}

.type:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

label{
    font-size: 2.4rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.757);
    font-family: 'Koulen', cursive;
}


.list-wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.draggable{
    cursor: move;
}

.list{
    /* display: flex; */
    border: 0px solid rgb(79, 79, 79);
   
    margin: 30px;
    height: 35px;
    padding-left: 2%;
    font-size: 1.2rem;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.868);
    background-color: rgba(226, 226, 226, 0.521);
    box-shadow: 0 13px 15px -2px rgba(0, 0, 0, .2);
    /* text-align: center; */
    justify-content: center;
    /* transition: 300ms ease-in; */
    /* padding: 15px; */
    /* min-width:100% ; */
}

.list button{
    /* margin-left: 200px; */
    float: right;
    cursor: pointer;
    width: 10%;
    height: 100%;
    border: 0;
    border-radius: 0;
    background-color: orangered;
    font-size: large;
    font-weight: bold;
    color: white;
}

.list button:hover{
    background-color: rgba(255, 68, 0, 0.73);
}


@media(max-width : 480px){

    .wrapper{
        width: 100%;
    }

    .input-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        
    }

    .type{
        margin-left: auto;
        margin-right: auto;
    }


    .sub{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .list-wrapper{
        width: 90%;
    }

    .list{
        font-size: 1.2rem;
        height: 30px;
    }

    .list button{
        width: 20%;
    }
}
